*{
    background-color: aliceblue;
    margin-left: 10%;
}
.container {
    width: 300px;
    margin: 20px;
    float: left;
  }
  
  .drag-items {
    padding: 10px;
    background-color: #e7bf9d;
  }
  
  .drag-item {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    cursor: move;
  }
  
  .drop-zone {
    height: 200px;
    border: 2px dashed #6c6565;
    background-color: #eac19d;
    margin-bottom: 10px;
  }
  
  .reset-button {
    display: block;
    margin-top: 10px;
  }
  